  .centered {
    /* Center the form on the page */
    margin: 1 auto;
    width: 300px;
    /* Form outline */
    padding: 2em;
    border: 1px dotted #2a07ed;
    border-radius: .1em;
  }

  .error {
    color: red;
  }